*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #faf8ef;
}

#container{
	height: 200px;
	display: -webkit-flex;
	display: 		 flex;
	-webkit-align-items: center;
            align-items: center;
	-webkit-justify-content: center;
            justify-content: center;
            /*flexbox的居中方式*/

}
.grid-container {
  position: absolute;
  top: 110px;
  z-index: 1; }/*神奇分层*/



.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0; }

.grid-row {
  margin: 0px 15px;
   }

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin: 5px;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); 
}
  


#tile-container {
  width: 500px;
  height: 520px;
  position: absolute;
  z-index: 1; }


.tile{
  display: inline-block;
  position: absolute;
  top:15px;
  left: 20px;
  width: 106.25px;
  height: 106.25px;
  z-index: 2;
  background-color: #fff;

  /*这是实现流畅动画的设置*/  
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  /**/
}

  .position1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  .position1-2 {
    -webkit-transform: translate(0px, 116.25px);
    -moz-transform: translate(0px, 116.25px);
    -ms-transform: translate(0px, 116.25px);
    transform: translate(0px, 116.25px); }

  .position1-3 {
    -webkit-transform: translate(0px, 232.5px);
    -moz-transform: translate(0px, 232.5px);
    -ms-transform: translate(0px, 232.5px);
    transform: translate(0px, 232.5px); }
  .position1-4 {
    -webkit-transform: translate(0px, 348.75px);
    -moz-transform: translate(0px, 348.75px);
    -ms-transform: translate(0px, 348.75px);
    transform: translate(0px, 348.75px); }
  .position2-1 {
    -webkit-transform: translate(116.25px, 0px);
    -moz-transform: translate(116.25px, 0px);
    -ms-transform: translate(116.25px, 0px);
    transform: translate(116.25px, 0px); }
  .position2-2 {
    -webkit-transform: translate(116.25px, 116.25px);
    -moz-transform: translate(116.25px, 116.25px);
    -ms-transform: translate(116.25px, 116.25px);
    transform: translate(116.25px, 116.25px); }
  .position2-3 {
    -webkit-transform: translate(116.25px, 232.5px);
    -moz-transform: translate(116.25px, 232.5px);
    -ms-transform: translate(116.25px, 232.5px);
    transform: translate(116.25px, 232.5px); }
  .position2-4 {
    -webkit-transform: translate(116.25px, 348.75px);
    -moz-transform: translate(116.25px, 348.75px);
    -ms-transform: translate(116.25px, 348.75px);
    transform: translate(116.25px, 348.75px); }
  .position3-1 {
    -webkit-transform: translate(232.5px, 0px);
    -moz-transform: translate(232.5px, 0px);
    -ms-transform: translate(232.5px, 0px);
    transform: translate(232.5px, 0px); }
  .position3-2 {
    -webkit-transform: translate(232.5px, 116.25px);
    -moz-transform: translate(232.5px, 116.25px);
    -ms-transform: translate(232.5px, 116.25px);
    transform: translate(232.5px, 116.25px); }
  .position3-3 {
    -webkit-transform: translate(232.5px, 232.5px);
    -moz-transform: translate(232.5px, 232.5px);
    -ms-transform: translate(232.5px, 232.5px);
    transform: translate(232.5px, 232.5px); }
  .position3-4 {
    -webkit-transform: translate(232.5px, 348.75px);
    -moz-transform: translate(232.5px, 348.75px);
    -ms-transform: translate(232.5px, 348.75px);
    transform: translate(232.5px, 348.75px); }
  .position4-1 {
    -webkit-transform: translate(348.75px, 0px);
    -moz-transform: translate(348.75px, 0px);
    -ms-transform: translate(348.75px, 0px);
    transform: translate(348.75px, 0px); }
  .position4-2 {
    -webkit-transform: translate(348.75px, 116.25px);
    -moz-transform: translate(348.75px, 116.25px);
    -ms-transform: translate(348.75px, 116.25px);
    transform: translate(348.75px, 116.25px); }
  .position4-3 {
    -webkit-transform: translate(348.75px, 232.5px);
    -moz-transform: translate(348.75px, 232.5px);
    -ms-transform: translate(348.75px, 232.5px);
    transform: translate(348.75px, 232.5px); }
  .position4-4 {
    -webkit-transform: translate(348.75px, 348.75px);
    -moz-transform: translate(348.75px, 348.75px);
    -ms-transform: translate(348.75px, 348.75px);
    transform: translate(348.75px, 348.75px); }







#testBox {
	position: relative;
}

#testBoxs {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: black;
	opacity: 0;
  
  /*这是实现流畅动画的设置*/  
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  /**/
    }
 /*话说格子的位置抄源码就行了*/   
.position1{

  -webkit-transform: translate(100px, 111px);
  -moz-transform: translate(100px, 111px);
  -ms-transform: translate(100px, 111px);
  transform: translate(100px, 111px); 

}
.position2{
	
  -webkit-transform: translate(200px, 300px);
  -moz-transform: translate(200px, 300px);
  -ms-transform: translate(200px, 300px);
  transform: translate(200px, 300px); 
}
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;

  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
/* flexboxtest:;
.flexbox{
	background-color: rgba(238, 228, 218, 0.35);
	width: 200px; 
}
*/

#gameContainer{
	background-color: #bbada0;
	margin-top: 500px;
	width: 500px;
	height: 500px;
	padding: 10px;
}
